@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(359deg); }
}

.spinner {
    animation: spin 1s infinite linear;
    border-color: $onionboarding-colors--text-highlight;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: inline-block;
    vertical-align: middle;
}
