$ascribe-colors--black: #1E1E1E;
$ascribe-colors--off-white: #CCC;
$ascribe-colors--white: #F8F8F8;
$ascribe-colors--blue: #65CFE9;
$ascribe-colors--light-blue: #D3DEE4;
$ascribe-colors--dark-blue: #003C69;
$ascribe-colors--pink: #D10074;
$ascribe-colors--red: rgb(169, 68, 66);

$ascribe-colors--primary-bg: white;
$ascribe-colors--primary-fg: $ascribe-colors--dark-blue;

$ascribe-colors--error: $ascribe-colors--red;
