/**
 * Add button size permutations to each given size: -wide, -$size, -$size-wide
 * @param $base  Base name of button
 * @param $from  File to compose sizes from (use null if from same file)
 * @param $sizes Sizes of button
 */
@mixin ascribe-button--size-exploder($base, $from, $sizes...) {
    .#{$base}-wide {
        @if $from == null {
            composes: $base wide;
        } @else {
            composes: $base wide from $from;
        }
    }

    @each $size in $sizes {
        .#{$base}-#{$size} {
            @if $from == null {
                composes: $base $size;
            } @else {
                composes: $base $size from $from;
            }

            &-wide {
                @if $from == null {
                    composes: #{$base}-#{$size} wide;
                } @else {
                    composes: #{$base}-#{$size} wide from $from;
                }
            }
        }
    }
}

/**
 * Add activated state styles
 *
 * Note that we need the `:global`s to keep the names from being mangled; sass unfortunately does
 * not play well with :global block definitions, like so:
 *   :global {
 *       ...
 *    }
 * Turning them into :global.classNames, so we do it manually.
 *
 * It'd be super nice if there was a PostCSS plugin that could take
 *   classNameA:global.classNameB
 * and turn it into
 *   classNameA:global(.classNameB)
 */
@mixin ascribe-button--activated {
    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus,
    &:active:global(.focus) {
        @content;
    }

    &:global(.active) {
        &:hover,
        &:focus,
        &:global(.focus) {
            @content;
        }
    }
}

/** Add disabled state styles **/
@mixin ascribe-button--disabled {
    &:global(.disabled) {
        @content;

        &:hover,
        &:focus,
        &:active,
        &:global(.focus),
        &:global(.active) {
            @content;
        }
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &[disabled]:global(.focus),
    &[disabled]:global(.active),
    fieldset[disabled] &,
    fieldset[disabled] &:hover,
    fieldset[disabled] &:focus,
    fieldset[disabled] &:active,
    fieldset[disabled] &:global(.focus),
    fieldset[disabled] &:global(.active) {
        @content;
    }
}
