$rubelt-colors--blue: #65CFE9;
$rubelt-colors--dark-blue: #003C69;
$rubelt-colors--gray: #7F7F7F; /* Roughly equivalent to rgba(0, 0, 0, 0.5) */
$rubelt-colors--grey: #7F7F7F;
$rubelt-colors--off-white: #CCC;
$rubelt-colors--pink: #D10074;
$rubelt-colors--red: rgb(169, 68, 66);

$rubelt-colors--primary-bg: white;
$rubelt-colors--primary-fg: $rubelt-colors--dark-blue;

$rubelt-colors--text-primary: $rubelt-colors--dark-blue;
$rubelt-colors--text-danger: $rubelt-colors--red;
